.pricing-plans {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.plan {
  flex: 0 0 25%;
  border: 1px solid #ccc;
  max-height: 350px;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #f8f9fa; /* Update with your desired background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popular {
  border: 2px solid #007bff; /* Adjust the border color for the popular plan */
}

.plan h2 {
  color: #333;
}

.price {
  font-size: 1.5em;
  margin: 10px 0;
  color: #28a745; /* Adjust the price color */
}

.price span {
  font-size: 0.8em;
  color: #333; /* Adjust the span color */
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ul li {
  margin: 5px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .plan {
    flex: 0 0 80%; /* Take up full width on smaller screens */
  }
}