.manage-subscription-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px;
  background-color: #f5f5f5;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Adjust as needed */
}

td, th {
  padding: 10px; /* Adjust as needed */
}

td {
  white-space: nowrap;
}
.manage-subscription-details {
  margin-top: 20px;
}

.manage-subscription-details ul {
  list-style: none;
  padding: 0;
}

.manage-subscription-details li {
  margin-bottom: 10px;
}

.manage-subscription-details strong {
  margin-right: 5px;
}

.manage-subscription-details Button {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.manage-subscription-details Button:hover {
  background-color: #218838;
}

.manage-subscription-details p {
  color: #dc3545;
}

/* Responsive styles */
@media (max-width: 768px) {
  .manage-subscription-container {
    margin: 10px;
  }

  .manage-subscription-details Button {
    font-size: 14px;
  }
}