:root{
    --Btn-bg-color: #4848B6;
    --Btn-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
}


/*******************************/
/* This is css for SignIn page */
/*******************************/

.SignIn{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.SignIn-Form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignIn-Form-Title{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.SignIn-Form-Intro{
    margin: 10px 0;
}

.email_phone-Input, .password-Input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: #d1d1d1 solid 2px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
}

.forgotpass-Btn{
    align-self: flex-end;
    margin-bottom: 10px;
}

.login-Btn{
    width: 370px;
    height: 50px;
    align-self: center;
    font-size: 1rem;
    background-color: var(--Btn-bg-color);
    color: var(--Btn-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    border-style: none;
    cursor: pointer;
}

.SignIn-Logo{
    max-width: 500px;
    max-height: 500px;
}

.SignIn-Form-Alternatives-Intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.SignIn-Form-Alternatives-Intro-Side{
    width: 34%;
    height: 1px;
    background-color: #000000;
    align-self: center;
}

.SignIn-Form-Alternatives-Navs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.SignIn-Form-Alternatives-Navs a > img{
    height: 25px;
    width: 25px;
}

.SignIn-Form-Alternatives-Navs a{
    display: flex;
    gap: 5px;
    align-items: center;
    border: #d1d1d1 solid 2px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #000000;
}

.SignIn-SignUp-Nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.SignIn-SignUp-Nav a{
    color:#000000;
}


/*******************************/
/* This is css for SignUp page */
/*******************************/

.SignUp{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.SignUp-Form{
    display: flex;
    flex-direction: column;
}

.SignUp-Form-Title{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.repassword-Input, .code-Input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: #d1d1d1 solid 2px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
}

.register-Btn, .verify-Btn{
    width: 370px;
    height: 50px;
    align-self: center;
    font-size: 1rem;
    background-color: var(--Btn-bg-color);
    color: var(--Btn-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    border-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.SignUp-Outlines{
    margin-top: 20px;
    text-align: left;
    list-style-position: inside;
}

.SignUp-Logo{
    max-width: 500px;
    max-height: 500px;
}

.SignUp-Form-Outlines{
    margin: 10px 0;
}